# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd 
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader.data as web

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [31]:
pd.date_range('2015-01-01', pd.Timestamp.today(), period=7, freq='w')
pd.datetime(2001,1,1)

datetime.datetime(2001, 1, 1, 0, 0)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [35]:
stocks = ['AAPL', 'IBM', 'TSLA']

### Step 4. Read the data from google, assign to df and print it

In [36]:
start = pd.datetime(2018, 1, 1)
end = pd.datetime.today()

df = web.DataReader(stocks,'morningstar', start, end)
df.head()

                    Close    High     Low    Open    Volume
Symbol Date
AAPL   2018-01-01  169.23  169.23  169.23  169.23         0
       2018-01-02  172.26  172.30  169.26  170.16  25555934
       2018-01-03  172.23  174.55  171.96  172.53  29517899
       2018-01-04  173.03  173.47  172.08  172.54  22434597
       2018-01-05  175.00  175.37  173.05  173.44  23660018

### Step 5.  What is the type of structure of df ?

In [37]:
df.dtypes

Close     float64
High      float64
Low       float64
Open      float64
Volume      int64
dtype: object

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [ ]:
v

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

### Step 9. Find all the volume traded in the year of 2015

### BONUS: Create your own question and answer it.